.container {
  margin-top: 30px;
}

h1, h2, h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0.1em;
}

h3 {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: grey;
}

body {
  font-size: 15px;
}

.blog {
  font-size: 14px;
}

.container {
  width: 270px;
  padding: 25px;
}
